@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-pinkish: #e1ccfa;
}

@layer base {
  h1 {
    @apply text-3xl font-semibold text-neutral-900;
  }
  p {
    @apply text-sm font-normal text-neutral-500;
  }
}
